# gradle

.gradle
build
out
classes

# text editors
.obsidian

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

qodana.sarif.json
qodana.yaml

# vscode

.settings
.vscode
bin/
.classpath
.project

# fabric

run/
